In [ ]:
#study of for loop in python
# rivya singla
# 25070123091

In [ ]:
#print numbers from 1 to 5
for i in range(1, 6):
  print(i)

1
2
3
4
5

In [ ]:
#print all odd numbers between 1 to 10
for i in range(1,11,2):
  print (i)

1
3
5
7
9

In [ ]:
#sum of first N number
n = int(input("Enter N: "))
total = 0

for i in range(1, n + 1):
  total += i
  print("sum=", total)

Enter N: 5
sum= 1
sum= 3
sum= 6
sum= 10
sum= 15

In [ ]:
#3x3 matrix display
A = [[1,2,3],
     [4,5,6],
     [7,8,9]]

for i in range(3):
    for j in range(3):
        print(A[i][j], end=" ")
    print()

1 2 3
4 5 6
7 8 9

In [ ]:
#multiplication of two 3x3 matrices
A = [[1,2,3],
     [4,5,6],
     [1,2,1]]
B = [[1,1,1],
     [6,5,4],
     [3,2,1]]
Result = [[0,0,0],
          [0,0,0],
          [0,0,0]]
for i in range(3):
    for j in range(3):
        for k in range(3):
            Result[i][j] += A[i][k] * B[k][j]
for row in Result:
   print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [ ]:
#PRINT ALL PRIME numbers in range
for num in range(2, 50):
  for i in range(2, num):
    if num % i == 0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
for i in range(10, 0, -1):
    print("* " * i)

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#pyramid pattern
rows = 5
for i in range(1, rows + 1):
  print(" " * (rows - i) + "* " * i)

    *
   * *
  * * *
 * * * *
* * * * *

In [ ]:
#nested for loop
for i in range(n): #0,1,2,3,4
 print(i*' ',(n-i)*' *')

  * * * * *
   * * * *
    * * *
     * *
      *